<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <title>SIFU</title>
    <link rel="stylesheet" th:href="@{/css/semantic.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/39/39554.png">
</head>
<body style="background: #1b1c1d">
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui text container">
            <h1 class="ui inverted header">
                500
            </h1>
            <h2>Ha ocurrido un error en el servidor</h2>
            <a th:href="@{/}" class="ui huge primary button"> <i class="left arrow icon"></i> Volver al inicio</a>
        </div>
    </div>
</div>
</body>
</html>