<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <meta charset="UTF-8" />
    <title>SIFU</title>
    <link rel="stylesheet" th:href="@{/css/semantic.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <body>
    <header th:replace="fragments :: header" />
    <div class="ui container">
      <div class="ui two steps">
        <div class="step">
          <div class="content">
            <div class="title">Registro de Ficha</div>
            <div class="description">
              Por favor, llena los siguientes campos.
            </div>
          </div>
        </div>
        <div class="step active">
          <div class="content">
            <div class="title">Listado de Fichas</div>
            <div class="description">
              Una vez completado los datos, aquí se mostraran los registros.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui vertical stripe segment container">
      <div class="column ui raised segments blue segment">
        <div class="ui info message">
          <h2>Fichas Registradas</h2>
          A continuación, se muestran las fichas registradas en el sistema.
        </div>

        <table class="ui basic left aligned table">
          <thead>
            <th class="ui left aligned top attached info message">Nombre(s)</th>
            <th class="ui left aligned top attached info message">
              Primer Apellido
            </th>
            <th class="ui left aligned top attached info message">
              Segundo Apellido
            </th>
            <th class="ui left aligned top attached info message">CURP</th>
            <th class="ui left aligned top attached info message">
              Fecha de Nacimiento
            </th>
            <th class="ui center aligned top attached error message">
              Acciones
            </th>
          </thead>
          <tbody>
            <tr th:each="student: ${students}">
              <td th:text="${student.name}"/>
              <td th:text="${student.firstName}"/>
              <td th:text="${student.secondName}"/>
              <td th:text="${student.curp}"/>
              <td th:text="${student.birthday}"/>
              <td class="center aligned">
                <button class="button mini ui google plus">Detalles</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="ui buttons">
          <button class="ui button blue active">1</button>
          <button class="ui button">2</button>
          <button class="ui button">3</button>
        </div>
      </div>
    </div>

    <div class="ui modal">
      <div class="header">Header</div>
    </div>

    <footer th:replace="fragments :: footer" />
  </body>
</html>
